html {
  scroll-behavior: smooth;
}

body {
  font-family: $defaultfont;
  font-size: 15px;
  padding: 0;
  margin: 0;
  font-weight: 400;
  position: relative;
  line-height: 26px;
  color: $default-color;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
	margin: 0px;
	padding: 0px;
}

button {
  cursor: pointer;
}

*:focus {
  outline: none;
}

button {
  border: none;
  @include transition(.3s);
}

button:focus {
  outline: none;
}
*::-moz-selection {
  background: $theme-color;
  color: $white;
  text-shadow: none;
}
::-moz-selection {
  background: $theme-color;
  color: $white;
  text-shadow: none;
}

::selection {
  background: $theme-color;
  color: $white;
  text-shadow: none;
}
*::-moz-placeholder {
  color: #999;
  font-size: 30px;
  opacity: 1;
}
*::placeholder {
  color: #999;
  font-size: 16px;
  opacity: 1;
}
a {
  color: $heading-color;
  text-decoration: none;
  @include transition(.3s);
  &:hover {
    color: $theme-color;
  }
}

// span
p, li, span {
	color: $default-color;
	margin-bottom: 0;
}

//   display: inline-block
table {
  width: 100%;
}
