// font family
$defaultfont: 'Barlow', sans-serif;
$headingfont: 'PT Serif', serif;

// colors variable
$white: #ffffff;
$black: #000;
$theme-color: #8CC63F;
$yellow-color: #F7931E;
$default-color: #8D8884;
$heading-color: #0B0B0B;
$gray: #98928E;
$gray-2: #F6F5F2;
$gray-3: #F6F3EE;
$gray-4: #F6F3EE;
$blue: #263A96;
$red: #FC4351;
$green: #009245;
$border: #F5F1EA;



