/*----------------------------------------*/
/*  04. category
/*----------------------------------------*/
.slider__arrow {
    .owl-nav div {
        position: absolute;
        width: 40px;
        height: 40px;
        background: $theme-color;
        text-align: center;
        line-height: 40px;
        @include border-radius(50%);
        color: $white;
        font-size: 12px;
        bottom: -70px;
        left: 0;
        display: inline-block;
        &.owl-next {
            left: 50px;
        }
    }
    &--white {
        .owl-nav div {
            top: 50%;
            transform: translateY(-50%);
            width: 53px;
            height: 53px;
            background: $white;
            line-height: 51px;
            left: -26px;
            color: $heading-color;
            @include respond(xs) {
                left: 0;
            }
            &.owl-next {
                left: auto;
                right: -26px;
                @include respond(xs) {
                    right: 0;
                }
            }
        }
    }
}
.category {
    &__single {
        position: relative;
        overflow: hidden;
        .cat__title {
            position: absolute;
            color: $white;
            left: 0;
            right: 0;
            bottom: 24px;
            margin: auto;
            display: inline-block;
            text-align: center;
            font-size: 24px;
            padding: 0 20px
        }
        .category__img {
            img {
                @include transition(.3s);
            }
        }
        &:hover {
            .category__img img {
                @include transform(scale(1.05));
            }
        }
        &--2 {
            display: inline-block;
            position: relative;
            padding-bottom: 40px;
            &::before {
                position: absolute;
                bottom: 0;
                right: 0;
                content: "";
                background: $yellow-color;
                width: 0;
                height: 2px;
                transition: all 0.4s cubic-bezier(0.65, 0.05, 0.18, 0.99) !important;

            }
            .cat__icon {
                width: 76px;
                height: 76px;
                background: $white;
                @include border-radius(50%);
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                margin-bottom: 30px;
                span {
                    max-width: 35px;
                }
            }
            .cat__title {
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 600;
                font-family: $defaultfont;
            }
            &:hover {
                &::before {
                    width: 100%;
                    left: 0;
                    right: auto;
                }
            }
        }
        &--3 {
            .cat__icon a {
                width: 150px;
                height: 150px;
                background: #F6F3EE;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                margin: auto;
                margin-bottom: 10px;
                img {
                    @include transition(.3s);
                    width: auto;
                }
            }
            &:hover {
                .cat__icon img {
                    @include transform(scale(1.05));
                }
            }
            .cat__title {
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 600;
                font-family: $defaultfont;
            }
        }
    }
    &__active--2,
    &__active--3 {
        border-bottom: 1px solid #E4E1DB;
        .owl-nav div {
            background: transparent;
            font-size: 25px;
            color: $gray;
            top: 45%;
            left: -50px;
            @include transition(.3s);
            @include respond(md) {
                left: -30px;
            }
            @include respond(xs) {
                left: -10px;
            }
            &:hover {
                color: $heading-color;
            }
            &.owl-next {
                right: -50px;
                @include respond(md) {
                    right: -30px;
                }
                @include respond(xs) {
                    right: -10px;
                }
            }
        }
    }
    &__active--3 {
        border-bottom: none;
    }

}
.category {
    &__item {
        position: relative;
        padding: 105px 60px;
        background: #263A96;
        overflow: hidden;
        z-index: 1;
        @include respond(laptop) {
            padding: 90px 40px;
        }
        @include respond(lg) {
            padding: 80px 40px;
            min-height: 330px;
        }
        @include respond(md) {
            min-height: 545px;
        }
        @include respond(xs) {
            min-height: 0;
        }
        &::before {
            position: absolute;
            top: 20px;
            left: 20px;
            right: 20px;
            bottom: 20px;
            border: 1px solid $white;
            content: "";
            z-index: -1;
        }
        .cat__img {
            position: relative;
            z-index: 1;
            &::before {
                position: absolute;
                width: 315px;
                height: 270px;
                top: 50%;
                left: 0;
                @include transform(translateY(-50%));
                background: #4C6CFE;
                filter: blur(230px);
                content: "";
                z-index: -1;
                @include respond(xs) {
                    width: 200px;
                    height: 200px;
                }
            }
        }
        &--2 {
            background: $yellow-color;
            .cat__img {
                &::before {
                    background: #FFDDB6;
                    left: auto;
                    right: 0;
                }
            }
        }
    }
    &__content {
        padding: 0 8px;
        z-index: 2;
        position: relative;
        @include respond(laptop) {
            padding: 0;
        }
        @include respond(lg) {
            padding: 0;
        }
        .cat__title {
            font-size: 40px;
            color: $white;
            margin-bottom: 8px;
            @include respond(laptop) {
                font-size: 26px;
            }
            @include respond(lg) {
                font-size: 24px;
            }
        }
        p {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            color: $white;
        }
    }
    
}