/*----------------------------------------*/
/*  03. slider
/*----------------------------------------*/
.slider {
    &__height {
        min-height: 650px;
    }
    &__active {
        .slick-dots {
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
            list-style: none;
            li {
                display: inline-block;
                margin: 0 3px;
                &.slick-active button {
                    border-color: $black;
                }
            }
            button {
                opacity: 1;
                width: 22px;
                height: 22px;
                position: relative;
                background-color: transparent;
                border: 1px solid transparent;
                text-indent: -10000px;
                @include border-radius(50%);
                &::before {
                    top: 7px;
                    left: 7px;
                    content: "";
                    width: 6px;
                    height: 6px;
                    position: absolute;
                    border-radius: 100%;
                    background-color: $heading-color;
                    transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
                }
            }
        }
    }
    &__single {
        padding: 100px 60px;
        @include respond(laptop) {
            padding-left: 20px;
            padding-right: 20px;
        }
        @include respond(lg) {
            padding-left: 20px;
            padding-right: 20px;
        }
        @include respond(md) {
            padding-bottom: 120px;
        }
        @include respond(xs) {
            padding: 80px 0;
        }
        .slide__title {
            font-size: 70px;
            line-height: 75px;
            margin-bottom: 30px;
            text-transform: capitalize;
            @include respond(lg) {
                font-size: 50px;
                line-height: 65px;
            }
            @include respond(xs) {
                font-size: 40px;
                line-height: 53px;
            }
        }
        p {
            font-size: 18px;
            line-height: 29px;
        }
    }
}
.hero {
    &__area {
        .slider__img {
            position: absolute;
            top: 50%;
            @include transform(translateY(-50%));
            margin-left: 100px;
            @include respond(lg) {
                margin-left: 0;
            }
            @include respond(xs) {
                position: inherit;
                @include transform(translateY(0));
            }
        }
        .hero__height {
            @include respond(lg) {
                min-height: 500px;
            }
        }
        .slide__title {
            font-size: 80px;
            line-height: 85px;
            @include respond(lg) {
                font-size: 45px;
                line-height: 55px;
            }
            @include respond(xs) {
                font-size: 40px;
                line-height: 50px;
            }
        }
        .slider__single {
            @include respond(md) {
                padding-bottom: 80px;
            }
            @include respond(xs) {
                padding-bottom: 60px;
            }
        }
    }
    &__height {
        min-height: 640px;
    }
    &__bg {
        z-index: 1;
        &::before {
            position: absolute;
            bottom: 0;
            right: -450px;
            @include border-radius(50%);
            background: $white;
            content: "";
            width: 1200px;
            height: 1200px;
            z-index: -1;
            @include respond(laptop) {
                width: 1100px;
                height: 1000px;
            }
            @include respond(lg) {
                width: 1020px;
                height: 1000px;
            }
            @include respond(md) {
                width: 900px;
                height: 900px;
            }
        }
    }
    &__style--2 {
        .container {
            max-width: 1680px;
        }
        .slide__title {
            font-size: 60px;
            line-height: 70px;
            @include respond(laptop) {
                font-size: 46px;
                line-height: 62px;
            }
            @include respond(lg) {
                font-size: 36px;
                line-height: 50px;
            }
        }
        .hero__img {
            position: absolute;
            bottom: 0;
            margin-left: -50px;
            max-width: 770px;
            @include respond(laptop) {
                max-width: 600px;
            }
            @include respond(lg) {
                max-width: 400px;
                top: 50%;
                @include transform(translateY(-50%));
            }
            @include respond(md) {
                position: inherit;
                top: 0;
                @include transform(translateY(0));
                margin: auto;
                margin-bottom: 20px;
            }
        }
        .slider__single {
            padding-left: 0;
            padding-right: 0;
            @include respond(lg) {
                padding-bottom: 50px;
            }
        }
        .hero__height {
            min-height: 670px;
            @include respond(lg) {
                min-height: 550px;
            }
        }
        .order-first {
            @include respond(md) {
                order: 0 !important;
            }
        }
    }
    &__features {
        li {
            position: relative;
            color: $heading-color;
            font-size: 16px;
            padding-left: 35px;
            font-weight: 500;
            &:not(:last-child) {
                margin-bottom: 12px;
            }
            &::before {
                position: absolute;
                top: 3px;
                left: 0;
                width: 20px;
                height: 20px;
                font-size: 8px;
                text-align: center;
                line-height: 20px;
                background: $gray-3;
                @include border-radius(50%);
                color: $heading-color;
                content: "\f00c";
                font-family: "Font Awesome 5 Pro";
            }
        }
    }
    &__right {
        .hr__title {
            font-size: 30px;
            margin-bottom: 15px;
            @include respond(lg) {
                font-size: 25px;
            }
        }
        p {
            font-size: 15px;
            line-height: 26px;
        }
        span {
            color: $heading-color;
            font-size: 15px;
            font-weight: 500;
        }
        &--top {
            @include respond(lg) {
                margin-bottom: 25px;
            }
        }
        &--bottom {
            p {
                margin-bottom: 20px;
            }
        }
        .rating__star {
            @include respond(xs) {
                justify-content: flex-start;
            }
        }
    }
}