/*----------------------------------------*/
/*  14. team
/*----------------------------------------*/
.at__sec--title {
    .title {
        font-size: 40px;
        line-height: 50px;
        @include respond(xs) {
            font-size: 24px;
            line-height: 36px;
        }
    }
}
.team {
    &__single {
        position: relative;
        .team__info {
            position: absolute;
            text-align: center;
            left: 20px;
            right: 20px;
            transform: translateY(0px);
            padding-top: 28px;
            border: 1px solid transparent;
            @include transition(.3s);;
        }
        &:hover {
            .team__info {
                transform: translateY(-70px);
                border-color: #F6F3EE;
                background: $white;
                box-shadow: 0px 10px 15px rgba(221, 221, 221, 0.12);
                padding: 30px 10px 30px 10px;
            }
            .team__social {
                opacity: 1;
                transition-delay: .2s;
                transform: translateY(0px);
            }
        }
        .team__name {
            font-size: 20px;
            @include respond(lg) {
                font-size: 18px;
            }
        }
    }
    &__thumb {
        img {
            width: 100%;
        }
    }
    &__social {
        margin-top: 8px;
        opacity: 0;
        @include transition(.3s);
        transform: translateY(10px);
        a {
            font-size: 14px;
            margin: 0 7px;
            color: $default-color;
            &:hover {
                color: $heading-color;
            }
        }
    }
}